<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="view">
        <h1>My Blogs</h1>
        <a id="new" href="/blogs/new">Create New Blog</a>
    </div>
    <% for(let items of blogData){%>
        <div class="container">
            <h3>Title: <%=items.title%>
            </h3>
            <img src="<%= items.img%>" alt="">
            <h4>Author: <%=items.author%>
            </h4>
            <p>
                <%= items.desc%>...
            </p>
            <a href="/blogs/<%=items._id%>">Read More</a>

        </div>
        <%}%>

</body>

</html>